{% extends 'base.html' %} 

{% block headlines %}
Posts
{% endblock %}

{% block content %} 
<h1>Posts</h1>
<table class='table'>
	<th>Title</th>
	<th>Writer</th>
	<th>Created</th>
	<th></th>
	{% for post in object_list %}
	<tr>
	    <td>{{ post.title }}</td>
     	<td>{{ post.author }}</td>
    	<td>{{ post.created }}</td>
		<td><form class="form-group " action="{% url 'detail' pk=post.id %}">
			<input  class="btn btn-primary" type="submit" value="Read" />
		</form></td>
		</tr>
	{% endfor %}
	{% if is_paginated %}
	<div class="pagination">
		<span class="page-links">
			{% if page_obj.has_previous %}
				<a href="/forum?page={{ page_obj.previous_page_number }}">previous</a>
			{% endif %}
			<span class="page-current">
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</span>
			{% if page_obj.has_next %}
				<a href="/forum?page={{ page_obj.next_page_number }}">next</a>
			{% endif %}
		</span>
	</div>
{% endif %}
</table>

{% endblock %} 