{% extends 'base.html' %}

{% block headlines %}
Post details
{% endblock %}
{% block my_scripts %}
<script>
	function show_comments_form(parent_comment_id) {
		if (parent_comment_id == 'write_comment') {
			$("#id_parent_comment").val('')
		}
		else {
			$("#id_parent_comment").val(parent_comment_id);
		}
		$("#comment_form").insertAfter("#" + parent_comment_id);
	}

</script>
{% endblock %}

{% block content %}

	<h1>{{ object.title }}</h1>
	<h4>{{ object.content|safe  }}</h4>
	<p>Author: {{ object.author }}</p>
	<p>Created: {{ object.created }}</p>
	<h3>Comments</h3>
	{% for comment in comments %}
	<a name="comment-{{ comment.id }}"></a>
	<div class="row" id="{{ comment.id }}">
		<div class="col-md-{{ comment.get_col }} col-md-offset-{{ comment.get_offset }}">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>{{ comment.author.get_full_name|default:comment.author.username }}</strong>&nbsp;&nbsp;
					{{ comment.created }}
					<a href="#comment-{{ comment.id }}"></a>
				</div>
				<div class="panel-body">
					<div>{{ comment.content|safe }}</div>
					{% if form %}
					<a class="btn btn-default btn-xs pull-right"
						onclick="return show_comments_form('{{ comment.id }}')">Answer</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}

	{% if user.is_authenticated %}
	<h4 id="write_comment">Write a comment.<a onclick="return show_comments_form('write_comment')"></a></h4>
		<form id="comment_form" action="{% url 'add_comment' post.id %}" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="btn btn-primary">Comment</button>
		</form>

	{% else %}
		<div class="panel panel-warning">
			<div class="panel-heading"> <h3 class="panel-title">Comments</h3></div>
			<div class="panel-body"> Please login.</div>
		</div>
	{% endif %}

{% endblock %}